<app-convertor [fromCurrency]="fromCurrencySelected" [toCurrency]="toCurrencySelected" [amount]="amount"
    (fromCurrencyV)="getFromCurrency($event)" (toCurrencyV)="getToCurrency($event)" (amountV)="getAmount($event)">
</app-convertor>

<div class=" container-fluid history mt-5">
    <div class="row justify-content-center">
        <h6 class="text-center mb-5">History for Specific Currency</h6>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 col-sm-6 col-md-2 mb-3">
            <div class="box">
                <p class="mb-3" *ngFor="let curr of todayCurrency">1 <strong>{{fromCurrencySelected?.key}}</strong> =
                    {{curr?.value}}
                    <strong>{{toCurrencySelected?.key}}</strong></p>
                <span class="mt-5">Today</span>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-2 mb-3">
            <div class="box">
                <p class="mb-3" *ngFor="let curr of yesterdayCurrency">1
                    <strong>{{fromCurrencySelected?.key}}</strong> =
                    {{curr?.value}}
                    <strong>{{toCurrencySelected?.key}}</strong></p>
                <span class="mt-5">Yesterday</span>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-2 mb-3">
            <div class="box">
                <p class="mb-3" *ngFor="let curr of lastWeekCurrency">1
                    <strong>{{fromCurrencySelected?.key}}</strong> =
                    {{curr?.value}}
                    <strong>{{toCurrencySelected?.key}}</strong></p>
                <span class="mt-5">Last Week</span>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-2 mb-3">
            <div class="box">
                <p class="mb-3" *ngFor="let curr of lastYearCurrency">1
                    <strong>{{fromCurrencySelected?.key}}</strong> =
                    {{curr?.value}}
                    <strong>{{toCurrencySelected?.key}}</strong></p>
                <span class="mt-5">Last Year</span>
            </div>
        </div>
    </div>
</div>

<!-- *ngIf="fromCurrencySelected" -->
<div class="container mt-5 mb-5 top-9" *ngIf="fromCurrencySelected">
    <div class="row justify-content-center">
        <h6 class="text-center mb-5">Top 9 Currencies</h6>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 col-md-4 mb-5" *ngFor="let curr of curriences">
            <div class="box mb-5">
                <p>{{amount}} {{fromCurrencySelected?.key}} = {{amount * curr?.value}}
                    {{curr?.key}}</p>
            </div>
        </div>
    </div>
</div>