<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="/assets/coins.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="top-buttons">
            <button class="btn btn-outline" [routerLink]="[
          '/currency-details/currency-details',
          'EUR',
          'EUR',
          'USD',
          1,
          USDcurrencyResult
        ]">
                EUR-USD Details
            </button>
            <button class="btn btn-outline" [routerLink]="[
          '/currency-details/currency-details',
          'EUR',
          'EUR',
          'GBP',
          1,
          GBPcurrencyResult
        ]">
                EUR-GBP Details
            </button>
        </div>
    </div>
</nav>