<app-convertor [amount]="amount" (amountV)="getAmount($event)" [disabledFromCurrency]="true"
    [convertResult]="convertResult" [fromCurrency]="fromCurrencySelected" (fromCurrencyV)="getFromCurrency($event)"
    [toCurrency]="toCurrencySelected" (toCurrencySelectedV)="getToCurrency($event)" (convertResultV)="getResult($event)"
    [currencyFullName]="currencyFullName" [fromKey]="fromKey" (fromKeyV)="getFromKey($event)" [toKey]="toKey"
    (toKeyV)="getToCurrency($event)">
</app-convertor>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-6">
            <div class="box">
                <div style="display: block" *ngIf="fromCurrencyChartDataReady">
                    <canvas baseChart width="800" height="800" [datasets]="lineChartDataFromCurrency"
                        [labels]="lineChartLabels" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div style="display: block" *ngIf="toCurrencyChartDataReady">
                    <canvas baseChart width="800" height="800" [datasets]="lineChartDataToCurrency"
                        [labels]="lineChartLabels" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" [plugins]="lineChartPlugins"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>