<div class="container convertor">
    <div class="row justify-content-center">
        <p *ngIf="!currencyFullName" class="text-left title mb-5">
            Currency Exchanger
        </p>
        <p *ngIf="currencyFullName" class="text-left title mb-5">
            {{ fromKey }} - {{ currencyFullName | uppercase }}
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2 mb-3">
            <div class="value-box">
                <div class="form-floating">
                    <input type="number" class="form-control" id="floatingPassword" placeholder="Amount"
                        [(ngModel)]="amount" />
                    <label for="floatingPassword">Amount</label>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="From label"
                    [(ngModel)]="fromCurrencySelected">
                    <option selected disabled value="0">From</option>
                    <option *ngFor="let currency of currencies" [ngValue]="currency" [disabled]="disabledFromCurrency"
                        [selected]="currency == fromCurrencySelected">
                        {{ currency.key }}
                    </option>
                </select>
                <label for="floatingSelect">From</label>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <button class="btn swipe-btn" [disabled]="disabledFromCurrency" (click)="
          swipeBetweenFromToValue(fromCurrencySelected, toCurrencySelected)
        ">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </button>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="To label" [(ngModel)]="toCurrencySelected"
                    (ngModelChange)="onchageToValue($event)">
                    <option selected disabled value="0">To</option>
                    <option *ngFor="let currency of currencies" [ngValue]="currency"
                        [selected]="currency === toCurrencySelected">
                        {{ currency.key }}
                    </option>
                </select>
                <label for="floatingSelect">To</label>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <button class="btn convert-btn" (click)="convert(toCurrencySelected?.key)" (click)="sendValues()">
                Convert
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="box">
                <p><strong>Result:</strong> {{ convertResult }}</p>
            </div>
        </div>
        <div class="col-md-2" *ngIf="!disabledFromCurrency">
            <div class="btn-box">
                <button class="btn animate__animated animate__fadeInRightBig" [disabled]="!convertResult"
                    (click)="goToDetails()">
                    Show Details
                </button>
            </div>
        </div>
        <div class="col-md-2" *ngIf="disabledFromCurrency">
            <div class="btn-box">
                <button class="btn animate__animated animate__fadeInRightBig" routerLink="/home">
                    Back To Home
                </button>
            </div>
        </div>
    </div>
</div>