/* You can add global styles to this file, and also import other style files */

/* Colors */
$whiteColor: #d0d1e6;
$darkColor: #202136;
$aboveColor: #1b1d30;
$greyColor: #aeb7b324;
$lightColor: #282a41;
$culturedColor: #eeeeee;

/* Font Sizes */
$font-size-small: 15px;
$font-size-medium: 20px;
$font-size-large: 25px;

/* Global */
body {
  background-color: $darkColor !important;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.main {
  max-width: 1000px;
  display: block;
  margin: auto;
}

/* Layout Design */
.navbar {
  background-color: $darkColor;
  display: block;
  margin: auto;
  .navbar-brand {
    width: 8%;
    z-index: 99999;
    img {
      width: 100% !important;
    }
  }
}
.top-buttons {
  position: absolute;
  right: 5% !important;
  text-align: right;
  width: 100%;
  .btn-outline {
    margin-left: 10%;
    color: $whiteColor;
    background-color: transparent;
    background-image: none;
    border-color: $greyColor;
    &:hover {
      color: $whiteColor;
      background-color: $aboveColor;
      background-image: none;
      border-color: $greyColor;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

/* Convertor Design */
.convertor {
  background-color: $darkColor;
  padding: 3%;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 2;
  .title {
    font-size: 25px;
    color: $whiteColor;
  }
  .value-box {
    .form-control {
      background-color: $aboveColor;
      color: $whiteColor;
    }
  }
  .form-select {
    background-color: $aboveColor;
  }
  .form-floating > label,
  .form-select {
    color: $whiteColor;
  }
  .form-select,
  .form-control {
    border: 1px solid $greyColor;
    &:focus {
      box-shadow: none;
      border-color: $greyColor;
    }
  }
  .from-value,
  .to-value {
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 100%;
    select {
      height: 100%;
      background-color: $aboveColor;
    }
  }
  .swipe-btn {
    display: flex;
    margin: auto;
    align-items: center;
    height: 100%;
    font-size: $font-size-large;
    background-color: $aboveColor;
    width: 50%;
    display: block;
    &:hover {
      background-color: $darkColor;
      color: $whiteColor;
      outline: 1px solid $greyColor;
    }
    &:focus {
      box-shadow: none;
    }
    i {
      color: $whiteColor;
    }
  }
  .convert-btn {
    border-radius: 0;
    background-color: $aboveColor;
    color: $whiteColor;
    font-size: $font-size-small;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
    display: block;
    &:hover {
      outline: 1px solid $aboveColor;
      background-color: $aboveColor;
      color: $whiteColor;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .box {
    background-color: $aboveColor;
    color: $whiteColor;
    padding: 3%;
    text-align: center;
    margin-top: 12%;
    border-radius: 5px;
    p {
      margin-bottom: 0 !important;
      text-transform: capitalize;
      strong {
        color: $culturedColor;
      }
    }
  }

  .btn-box {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 12%;
    .btn {
      font-size: 12px;
      width: 100%;
      display: block;
      margin: auto;
      height: auto;
      border-radius: 5px;
      background-color: $aboveColor;
      color: $whiteColor;
      &:hover {
        background-color: $aboveColor;
        color: $whiteColor;
        border: 2px solid $aboveColor;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}

/* History Design */
.history {
  padding: 5%;
  h6,
  p {
    text-transform: uppercase;
    color: $whiteColor;
    display: block;
    align-items: center;
    margin: auto;
    strong {
      color: $culturedColor;
    }
  }
  span {
    background-color: $lightColor;
    font-size: 12px;
    padding: 6%;
    border-radius: 5px;
  }

  .box {
    padding: 10%;
    text-align: center;
    border-radius: 15px;
    color: $whiteColor;
    &:hover {
      cursor: pointer;
    }
  }
  .col-md-2 .box {
    background-color: $aboveColor;
    &:hover {
      box-shadow: 10px 11px 9px 0px #dadcd512;
    }
  }
}

/* Top 9 */
.top-9 {
  h6 {
    text-transform: uppercase;
    color: $whiteColor;
  }
  .box {
    padding: 10%;
    background-color: $aboveColor;
    color: $whiteColor;
    text-align: center;
    border-radius: 25px;
    display: block;
    margin: auto;
    height: 100%;
    &:hover {
      box-shadow: 10px 11px 9px 0px #dadcd512;
      cursor: pointer;
    }
    p {
      height: 100%;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      overflow-wrap: anywhere;
    }
  }
}
/** Media Query for All Mobiles */
@media (max-width: 767px) {
  .navbar {
    width: 100%;
    .navbar-brand img {
      width: 10%;
    }
    .navbar-toggler {
      display: none;
    }
  }

  .top-buttons {
    position: absolute;
    right: 5% !important;
    .btn {
      font-size: 10px;
    }
  }
  .convertor {
    position: relative;
    margin-top: 30%;
    .value-box {
      margin-bottom: 2%;
    }
    .swipe-btn {
      border-radius: 5px;
    }
    .from-value select {
      margin-bottom: 2%;
    }
    .convert-btn {
      width: 100%;
    }
  }
  .history {
    .box {
      p {
        font-size: 10px;
      }
    }
  }
  .top-9 {
    .box {
      height: 100%;
      width: 100px;
      p {
        font-size: 12px;
      }
    }
  }
}
/** Media Query for All Ipads and Desktops */
@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .top-buttons {
    position: absolute;
    right: 5% !important;
  }
  .history {
    .box {
      p {
        font-size: 12px;
      }
    }
  }
  .top-9 {
    .box {
      height: 100%;
      width: 215px;
    }
  }
}
